@use '../../../../../stylesheets/utilities' as sass;


.tava-textarea-wrapper {
    // use ngStyle for width to style lvl above => <artdv-textareainput>
    display: grid;

    textarea {
        width: calc(100% - 12px);
        padding: 7.5px sass.$form-padding-small;
        scroll-padding-block: 7.5px sass.$form-padding-small;
        font-family: sass.$font-text-family;
    }
}