<section class="tava-imprint" ngClass="{{selectedBg}}">
    <header>
        <h1>{{'modules.imprint.title' | translate}}</h1>
    </header>
    <div class="tava-imprint-content">
        <div class="tava-imprint-hint">
            <span>
                {{'z-content-imprint.content.data-open-source.warning' | translate}}
            </span>
        </div>

        <h3>
            {{'z-content-imprint.headers.owner' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span>
                {{ownerData.name}}
            </span>
            <span>
                {{ownerData.address}}
            </span><br>
            <span>
                {{'z-content-imprint.content.data-owner.service' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-owner.business' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-owner.uid' | translate}}
                {{ownerData.uid}}
            </span>
            <span>
                <a href="tel:{{ownerData.phone}}">{{ownerData.phone}}</a>
            </span>
            <span>
                <a href="mailto:{{ownerData.email}}">{{ownerData.email}}</a>
            </span>
        </div>

        <h3>
            {{'z-content-imprint.headers.open-source' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span>
                {{('z-content-imprint.content.data-open-source.project' | translate) + devData.project}}
            </span>
            <span>
                {{devData.version}}
            </span>
            <span>
                <a href="{{devData.github}}" target="_blank">GitHub Repository</a>
            </span>
            <span>
                <a href="{{devData.portfolio}}" target="_blank">{{devData.portfolio}}</a>
            </span>
            <span>
                <a href="mailto:{{devData.email}}">{{devData.email}}</a>
            </span>
            <span>
                {{'z-content-imprint.content.data-open-source.address' | translate}}
            </span>
        </div>

        <h3 id="dispute">
            {{'z-content-imprint.headers.dispute' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-dispute1' | translate}}
                <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="follow noopener">LINK</a>
                {{'z-content-imprint.content.data-dispute2' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-dispute3' | translate}}
            </span>
        </div>

        <h3 id="liability-content">
            {{'z-content-imprint.headers.liability-content' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-liability-content1' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-liability-content2' | translate}}
            </span>
        </div>

        <h3 id="liability-links">
            {{'z-content-imprint.headers.liability-links' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-liability-links1' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-liability-links2' | translate}}
            </span>
        </div>

        <h3 id="copyright">
            {{'z-content-imprint.headers.copyright' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-copyright1' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-copyright2' | translate}}
            </span>
        </div>
    </div>
</section>