<section class="tava-imprint" ngClass="{{selectedBg}}">
    <header>
        <h1>{{'modules.imprint.title' | translate}}</h1>
    </header>
    <div class="tava-imprint-content">
        <div class="tava-imprint-hint">
            <span>
                {{'z-content-imprint.content.data-open-source.warning' | translate}}
            </span>
        </div>

        <h3>
            {{'z-content-imprint.headers.owner' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span>
                {{ownerData.name}}
            </span>
            <span>
                {{ownerData.address}}
            </span><br>
            <span>
                {{'z-content-imprint.content.data-owner.service' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-owner.business' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-owner.uid' | translate}}
                {{ownerData.uid}}
            </span>
            <span>
                <a href="tel:{{ownerData.phone}}">{{ownerData.phone}}</a>
            </span>
            <span>
                <a href="mailto:{{ownerData.email}}">{{ownerData.email}}</a>
            </span>
        </div>

        <h3>
            {{'z-content-imprint.headers.open-source' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span>
                {{('z-content-imprint.content.data-open-source.project' | translate) + devData.project}}
            </span>
            <span>
                {{devData.version}}
            </span>
            <span>
                <a class="tava-anchor" href="{{devData.contact}}">SUPPORT HUB</a>
            </span>
            <div id="tava-imprint-dev-icon-wrapper">
                <a href="{{devData.github}}" target="_blank">
                    <i class="icon-GitHub"></i>
                </a>
                <a href="{{devData.portfolio}}" target="_blank">
                    <img src="/assets/docs/icons/yqni13-small.png" alt="404-not-found">
                </a>
            </div>
        </div>

        <h3 id="dispute">
            {{'z-content-imprint.headers.dispute' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-dispute1' | translate}}
                <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="follow noopener">LINK</a>
                {{'z-content-imprint.content.data-dispute2' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-dispute3' | translate}}
            </span>
        </div>

        <h3 id="liability-content">
            {{'z-content-imprint.headers.liability-content' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-liability-content1' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-liability-content2' | translate}}
            </span>
        </div>

        <h3 id="liability-links">
            {{'z-content-imprint.headers.liability-links' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-liability-links1' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-liability-links2' | translate}}
            </span>
        </div>

        <h3 id="copyright">
            {{'z-content-imprint.headers.copyright' | translate}}
        </h3>
        <div class="tava-imprint-content-p">
            <span class="tava-imprint-content-break">
                {{'z-content-imprint.content.data-copyright1' | translate}}
            </span>
            <span>
                {{'z-content-imprint.content.data-copyright2' | translate}}
            </span>
        </div>
    </div>
    <div class="tava-loading-animation" [ngClass]="isPreloading ? 'tava-visible' : 'tava-hidden'">
        <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</section>