/* CUSTOM COLORS */
$color-ice-white: #f0f8ff;
$color-valid-red: #ea2222;
$color-accept-green: #209720;
$color-ocean-blue: #0000cc;
$color-fullscale-bg: #181818;

$color-text-black: #161515;
$color-light-green: #2f7b34;
$color-dark-green: #006005;

$color-grey-light: #7c7878;
$color-grey-dark: #3c3c3b;


/* CUSTOM VALUES */
$space5: 5px;
$space25: 25px;
$space50: 50px;
$space100: 100px;

$nav-border-size: 2px;
$carousel-arrow-size: 30px;

$link-hover-opacity: 0.4;

$font-text-size: clamp(18px, 1.6vw, 25px);
