@use 'utilities' as sass;


/* NAVBAR DEFINITION */
[data-nav='mobileMode'] {
    --size-nav-height: 75px;
    --size-footer-height: 300px;
}

[data-nav='desktopMode'] {
    --size-nav-height: 125px;
    --size-footer-height: 300px;
}

/* THEME OPTION DEFINITIONS */
[data-theme='lightMode'] {
    --theme-body-bg: #{sass.$color-ice-white};
    --theme-body-text: #{sass.$color-text-black};
    --theme-nav-text: #{sass.$color-text-black};
    --theme-palette-background: #{sass.$color-light-background};
    --theme-palette-highlight: #{sass.$color-light-highlight};
    --theme-palette-contrast: #{sass.$color-light-contrast};
    --theme-palette-secondary: #{sass.$color-light-secondary};
    --theme-snackbar-error: #{sass.$color-lightmode-error};
    --theme-snackbar-info: #{sass.$color-lightmode-info};
    --theme-snackbar-success: #{sass.$color-lightmode-success};
    --theme-snackbar-warning: #{sass.$color-lightmode-warning};
    --theme-hint-grey: #{sass.$color-grey-lightmode};
    --theme-button-bg: #{sass.$color-light-highlight};
    --theme-form-bg: #{sass.$color-grey-dark};
    --filter-brightness: 1;
    --divider-opacity: 0.8;
    --warning-opacity: 0.7;
    --warning-shadow: none;
    --option-hover-active: #{sass.$color-light-green};
    --privacy-list-bg: #{sass.$color-logo-green};
    --privacy-list-border: #{1.5px solid sass.$color-light-contrast};
}

[data-theme='darkMode'] {
    --theme-body-bg: #{sass.$color-grey-dark};
    --theme-body-text: #{sass.$color-ice-white};
    --theme-nav-text: #{sass.$color-ice-white};
    --theme-palette-background: #{sass.$color-dark-background};
    --theme-palette-highlight: #{sass.$color-dark-highlight};
    --theme-palette-contrast: #{sass.$color-dark-contrast};
    --theme-palette-secondary: #{sass.$color-dark-secondary};
    --theme-snackbar-error: #{sass.$color-darkmode-error};
    --theme-snackbar-info: #{sass.$color-darkmode-info};
    --theme-snackbar-success: #{sass.$color-darkmode-success};
    --theme-snackbar-warning: #{sass.$color-darkmode-warning};
    --theme-hint-grey: #{sass.$color-grey-label};
    --theme-button-bg: #{sass.$color-dark-highlight};
    --theme-form-bg: none;
    --filter-brightness: 0.4;
    --divider-opacity: 0.1;
    --warning-opacity: 0.6;
    --warning-shadow: #{sass.$color-text-black};
    --option-hover-active: #{sass.$color-dark-green};
    --privacy-list-bg: none;
    --privacy-list-border: none;
}