@use 'utilities' as sass;


/* NAVBAR DEFINITION */
[data-nav='mobileMode'] {
    --size-nav-height: 75px;
    --size-footer-height: 300px;
}

[data-nav='desktopMode'] {
    --size-nav-height: 125px;
    --size-footer-height: 300px;
}

/* THEME OPTION DEFINITIONS */
[data-theme='lightMode'] {
    --theme-body-bg: #{sass.$color-ice-white};
    --theme-body-text: #{sass.$color-text-black};
    --theme-nav-bg: #{sass.$color-grey-light};
    --theme-nav-text: #{sass.$color-text-black};
    --theme-main-green: #{sass.$color-dark-green};
    --filter-brightness: 1;
    --divider-opacity: 0.8;
}

[data-theme='darkMode'] {
    --theme-body-bg: #{sass.$color-grey-dark};
    --theme-body-text: #{sass.$color-ice-white};
    --theme-nav-bg: #{sass.$color-fullscale-bg};
    --theme-nav-text: #{sass.$color-ice-white};
    --theme-main-green: #{sass.$color-light-green};
    --filter-brightness: 0.4;
    --divider-opacity: 0.1;
}