@use 'utilities' as sass;


/* NAVBAR DEFINITION */
[data-nav='mobileMode'] {
    --size-nav-height: 75px;
    --size-footer-height: 300px;
}

[data-nav='desktopMode'] {
    --size-nav-height: 125px;
    --size-footer-height: 300px;
}

/* THEME OPTION DEFINITIONS */
[data-theme='lightMode'] {
    --theme-body-bg: #{sass.$color-ice-white};
    --theme-body-text: #{sass.$color-text-black};
    --theme-nav-bg: #{sass.$color-grey-light};
    --theme-nav-text: #{sass.$color-text-black};
    --theme-main-green: #{sass.$color-dark-green};
    --theme-snackbar-error: #{sass.$color-lightmode-error};
    --theme-snackbar-info: #{sass.$color-lightmode-info};
    --theme-snackbar-success: #{sass.$color-lightmode-success};
    --theme-snackbar-warning: #{sass.$color-lightmode-warning};
    --filter-brightness: 1;
    --divider-opacity: 0.8;
    --warning-opacity: 0.7;
    --warning-shadow: #{sass.$color-ice-white};
}

[data-theme='darkMode'] {
    --theme-body-bg: #{sass.$color-grey-dark};
    --theme-body-text: #{sass.$color-ice-white};
    --theme-nav-bg: #{sass.$color-fullscale-bg};
    --theme-nav-text: #{sass.$color-ice-white};
    --theme-main-green: #{sass.$color-light-green};
    --theme-snackbar-error: #{sass.$color-darkmode-error};
    --theme-snackbar-info: #{sass.$color-darkmode-info};
    --theme-snackbar-success: #{sass.$color-darkmode-success};
    --theme-snackbar-warning: #{sass.$color-darkmode-warning};
    --filter-brightness: 0.4;
    --divider-opacity: 0.1;
    --warning-opacity: 0.6;
    --warning-shadow: #{sass.$color-text-black};
}