@use '../stylesheets/utilities' as sass;


.icon-base {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.icon-home {
    --svg: url("/assets/app-icons/icon_home.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-about {
    --svg: url("/assets/app-icons/icon_about.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-service {
    width: 35px;
    height: 35px;
    --svg: url("/assets/app-icons/icon_service.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-arrow {
    --svg: url("/assets/app-icons/icon_arrow.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    rotate: -90deg;
}
.icon-copyright {
    --svg: url("/assets/app-icons/icon_copyright.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-darkMode {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    --svg: url("/assets/app-icons/icon_darkMode.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-lightMode {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    --svg: url("/assets/app-icons/icon_lightMode.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-language {
    --svg: url("/assets/app-icons/icon_language.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-samples {
    --svg: url("/assets/app-icons/icon_samples.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-warning {
    --svg: url("/assets/app-icons/icon_warning.svg");
    background-color: sass.$color-valid-red;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}
.icon-closeX {
    --svg: url("/assets/app-icons/icon_closex.svg");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}