@use '../stylesheets/utilities' as sass;


/* prevent printing webpage */
@media print {
    html, body {
        display: none;
    }
}

// width > 1440px
@media screen and (width > sass.$device-desktop-xk) {
    .tava-home {
        .tava-home-content {
            flex-direction: row;

            .tava-home-img-wrapper {
                width: 40%;
                text-align: right;
                img {
                    margin-top: sass.$space100;
                    width: 40%;
                }
            }

            .tava-home-content-wrapper {
                width: 60%;
                ul {
                    width: 65%;
                    li {
                        width: 75%;
                        span {
                            font-size: 16px
                        }
                    }
                }
            }
        }
    }
    
    .tava-about {
        .tava-about-content {
            .tava-about-text {
                width: 80vw;
                max-width: 700px;
                text-align: justify;
                margin: 0 auto;
            }
        }
    }

    .tava-imprint {
        .tava-imprint-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .tava-privacy {
        .tava-privacy-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .tava-samples {
        .tava-samples-table-wrapper {
            flex-direction: row;
            border-radius: sass.$space15;
            border: 2px outset var(--theme-palette-highlight);
            padding: sass.$space50;

            table {
                width: 450px;
            }

            th {
                font-size: 15px;
                padding-bottom: sass.$space15;
            }

            td {
                font-size: 16px;
            }

            .tava-samples-table-header {
                justify-content: start;
                width: 250px;
                margin-bottom: none;

                span {
                    font-size: 15px;
                }
            }
        }
    }

    .tava-service {
        .tava-service-content {
            flex-direction: row;

            .triple-outer {
                width: 33%;
            }

            .triple-inner {
                width: 34%;
            }

            .tava-service-route {

                .tava-author {
                    width: 33%;
                }
            }
        }
    }

    .tava-service-flatrate {
        .tava-datetime-double {
            flex-direction: row!important;
        }
    }

    .tava-service-airport,
    .tava-service-destination,
    .tava-service-flatrate {
        .tava-service-form {
            width: 50vw;
            max-width: 600px;
        }

        .tava-service-form-customer-double {
            flex-direction: column;
            width: 47.5%;
        }
    }

    footer {
        flex-direction: row;

        .tava-footer-credits {
            width: 40%;
            text-align: left;

            h3,
            .tava-copyright-wrapper {
                padding-left: 33%;
            }
        }

        .tava-footer-links {
            width: 60%;
        }
    }

    @media screen and (height > 1000px) {
        .tava-service {
            .tava-service-content {
                flex-direction: column;

                .triple-outer,
                .triple-inner {
                    width: 100%;
                    border: none;

                    .tava-service-route-description {
                        padding: calc(sass.$space25 + sass.$space5)!important;
                        .tava-anchor {
                            font-size: 34px;
                        }
                        .tava-anchor-sub {
                            font-size:27px;
                        }
                    }
                }
                
                .tava-service-route {
                    
                    .tava-author {
                        width: 100%;
                        a {
                            font-size: 22px!important;
                        }
                    }
                }
            }
        }
    }
}


// 1024px > width <= 1440px
@media screen and (width <= sass.$device-desktop-xk) {
    .tava-home {
        .tava-home-content {
            flex-direction: row;

            .tava-home-img-wrapper {
                width: 40%;
                text-align: right;
                img {
                    margin-top: sass.$space100;
                    width: 45%;
                }
            }

            .tava-home-content-wrapper {
                width: 60%;
                ul {
                    width: 70%;
                    li {
                        width: 75%;
                        span {
                            font-size: 14px
                        }
                    }
                }
            }
        }
    }
    
    .tava-about {
        .tava-about-content {
            .tava-about-text {
                width: 80vw;
                max-width: 700px;
                text-align: justify;
                margin: 0 auto;
            }
        }
    }

    .tava-imprint {
        .tava-imprint-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .tava-privacy {
        .tava-privacy-content {
            justify-content: center;
            margin: 0 auto;
            max-width: 700px;
        }
    }

    .tava-samples {
        .tava-samples-table-wrapper {
            flex-direction: row;
            border-radius: sass.$space15;
            border: 2px outset var(--theme-palette-highlight);
            padding: sass.$space50;

            table {
                width: 450px;
            }

            th {
                font-size: 15px;
                padding-bottom: sass.$space15;
            }

            td {
                font-size: 16px;
            }

            .tava-samples-table-header {
                justify-content: start;
                width: 250px;
                margin-bottom: none;

                span {
                    font-size: 14px;
                }
            }
        }
    }
    
    .tava-service {
        .tava-service-content {
            flex-direction: row;

            .triple-outer {
                width: 33%;
            }

            .triple-inner {
                width: 34%;
            }

            .tava-service-route {

                .tava-author {
                    width: 33%;
                }
            }
        }
    }

    .tava-service-flatrate {
        .tava-datetime-double {
            flex-direction: row!important;
        }
    }

    .tava-service-airport,
    .tava-service-destination,
    .tava-service-flatrate {
        .tava-service-form {
            width: 50vw;
            max-width: 600px;
        }

        .tava-service-form-customer-double {
            flex-direction: column;
            width: 47.5%;
        }
    }

    footer {
        flex-direction: row;

        .tava-footer-credits {
            width: 40%;
            text-align: left;

            h3,
            .tava-copyright-wrapper {
                padding-left: 33%;
            }
        }

        .tava-footer-links {
            width: 60%;
        }
    }

    @media screen and (height > 800px) {
        .tava-service {
            .tava-service-content {
                flex-direction: column;

                .triple-outer,
                .triple-inner {
                    width: 100%;
                    border: none;

                    .tava-service-route-description {
                        padding: calc(sass.$space25 + sass.$space5)!important;
                        .tava-anchor {
                            font-size: 28px;
                        }
                        .tava-anchor-sub {
                            font-size:22px;
                        }
                    }
                }
                
                .tava-service-route {
                    
                    .tava-author {
                        width: 100%;
                        a {
                            font-size: 16px!important;
                        }
                    }
                }
            }
        }
    }
}

// 768px > width <= 1024px
@media screen and (width <= sass.$device-tablet-landscape) {
    .tava-home {
        .tava-home-content {
            .tava-home-img-wrapper {
                img {
                    width: 50%;
                }
            }
        }
    }

    .tava-imprint {
        .tava-imprint-content {
            margin: sass.$space25 calc(sass.$space50 * 2);
        }
    }

    .tava-privacy {
        .tava-privacy-content {
            margin: sass.$space25 calc(sass.$space50 * 2);
        }
    }
    
    .tava-samples {
        .tava-samples-table-wrapper {
            flex-direction: column;
            padding: sass.$space15;
            border: outset 2px var(--theme-palette-highlight);
            border-radius: sass.$space15;
            $wrapper-width: 450px;

            .tava-samples-table-header {
                justify-content: center;
                width: $wrapper-width;
                margin-bottom: sass.$space25;
            }
        }
    }

    .tava-service-airport,
    .tava-service-destination,
    .tava-service-flatrate {
        .tava-service-form {
            $padding-portrait-size: calc(sass.$space25 / 2);
            $padding-landscape-size: sass.$space25;
            $margin-landscape-size: sass.$space50;

            width: calc(100% - ($padding-landscape-size * 2) - ($margin-landscape-size * 2));
            max-width: 600px;
            margin: 0 $margin-landscape-size;
            padding: $padding-portrait-size $padding-landscape-size;
            font-size: clamp(12px, 2.5vw, 15px);
        }

        .tava-service-terms {

            input {
                margin: 0 sass.$space50 0 sass.$space25!important;
            }
        }
    }
}

// 500px > width <= 768px
@media screen and (width <= sass.$device-phone-landscape) {
    .tava-home {
        .tava-home-content {
            flex-direction: column;

            .tava-home-img-wrapper {
                width: 100%;
                text-align: center;
                img {
                    margin-top: 0;
                    width: 28%;
                }
            }

            .tava-home-content-wrapper {
                width: 100%;

                ul {
                    max-width: 600px;
                    width: 80vw;
                    li {
                        max-width: 450px;
                        width: 70vw;
                        span {
                            font-size: 14px
                        }
                    }
                }
            }
        }
    }
    
    .tava-imprint {
        .tava-imprint-content {
            font-size: 14px;
        }
    }

    .tava-privacy {
        .tava-privacy-content {
            font-size: 14px;
        }
    }
    
    .tava-samples {
        .tava-samples-content {
            padding-bottom: sass.$space25!important;

            .tava-samples-table-wrapper {
                $wrapper-width: 400px;

                table {
                    width: $wrapper-width;
                }

                th {
                    font-size: 14px;
                    padding-bottom: sass.$space5;
                }

                td {
                    font-size: 14px;
                }

                .tava-samples-table-header {
                    width: $wrapper-width;
                }

                .tava-samples-route {
                    width: 240px!important;
                }
            }
        }
    }

    .tava-service {
        .tava-service-content {
            flex-direction: column;

            .triple-outer,
            .triple-inner {
                width: 100%;
                border: none!important;
            }

            .tava-service-route {

                .tava-author {
                    width: 100%;
                }
            }
        }
    }

    .tava-service-flatrate {
        .tava-datetime-double {
            flex-direction: column!important;

            #tava-service-flatrate-tenancy-left {
                margin-right: 0!important;
                margin-bottom: sass.$space25;
                width: 100%!important;
            }

            #tava-service-flatrate-tenancy-right {
                margin-left: 0!important;
                width: 100%!important;
            }
        }
    }

    .tava-service-airport,
    .tava-service-destination,
    .tava-service-flatrate {
        .tava-service-form {
            $padding-portrait-size: calc(sass.$space25 / 2);
            $padding-landscape-size: sass.$space25;
            $margin-landscape-size: sass.$space50;

            width: calc(100% - ($padding-landscape-size * 2) - ($margin-landscape-size * 2));
            max-width: 500px;
            margin: 0 $margin-landscape-size;
            padding: $padding-portrait-size $padding-landscape-size;
            font-size: clamp(12px, 2.5vw, 15px);
        }

        .tava-service-terms {

            input {
                margin: 0 sass.$space50 0 0!important;
            }
        }
    }

    footer {
        flex-direction: column-reverse;

        .tava-footer-credits {
            width: 100%;
            text-align: center;
            
            h3,
            .tava-copyright-wrapper {
                padding-left: 0;
            }
        }

        .tava-footer-links {
            width: 100%;
            margin-top: sass.$space25;
        }
    }
}

// width <= 500px
@media screen and (width <= sass.$device-phone-portrait) {
    .tava-home {
        .tava-home-content {
            .tava-home-img-wrapper {
                //

                img {
                    width: 33%;
                }
            }

            .tava-home-content-wrapper {
                ul {
                    width: 350px;
                    li {
                        width: 280px;
                        span {
                            font-size: 12px
                        }
                    }
                }
            }
        }
    }
    
    .tava-imprint {
        .tava-imprint-content {
            margin: 0 calc(sass.$space25 * 2) sass.$space25 calc(sass.$space25 * 2);
        }
    }

    .tava-privacy {
        .tava-privacy-content {
            margin: 0 calc(sass.$space25 * 2) sass.$space25 calc(sass.$space25 * 2);
        }
    }
    
    .tava-samples {
        .tava-samples-content {
            padding-bottom: 0!important;

            .tava-samples-table-wrapper {
                margin: 0 10vw sass.$space50 10vw;
    
                table {
                    width: auto;
                }

                th {
                    font-size: 11px;
                    padding-bottom: sass.$space5;
                }
    
                td {
                    font-size: clamp(9px, 2.4vw, 11px);
                }
    
                .tava-samples-table-header {
                    width: auto;
    
                    span {
                        font-size: 12px;
                    }
                }
    
                .tava-samples-route {
                    width: fit-content;
                }
    
                .tava-samples-addendum {
                    width: 15px!important;
                }
                .tava-samples-price {
                    width: 25px!important;
                }
                .tava-samples-currency {
                    width: 30px!important;
                }
            }
        }
    }

    .tava-service-airport,
    .tava-service-destination,
    .tava-service-flatrate {
        .tava-service-form {
            $padding-portrait-size: calc(sass.$space25 / 2);
            $padding-landscape-size: sass.$space25;
            $margin-landscape-size: sass.$space25;

            width: calc(100% - ($padding-landscape-size * 2) - ($margin-landscape-size * 2));
            max-width: none;
            margin: 0 $margin-landscape-size;
            padding: $padding-portrait-size $padding-landscape-size;
        }

        .tava-service-airport-customer-block,
        .tava-service-destination-customer-block,
        .tava-service-flatrate-customer-block {
            flex-direction: column!important;
        }
        
        #tava-service-customer-double-left {
            width: 100%!important;
            margin-right: 0!important;
            margin-bottom: sass.$space15;
        }

        #tava-service-customer-double-right {
            width: 100%!important;
            margin-left: 0!important;
        }
    }
}