# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
client-cert.crt
client-cert.key
/dist
/tmp
/out-tsc
/bazel-out
desktop.ini

# secrets
set-env.dev.ts
/src/environments/.env
.env
public_key.pem
private_key.pem

# public/images
/public/assets/service/service-airport_big.jpg
/public/assets/service/service-airport_01.jpg
/public/assets/service/service-airport_02.jpg
/public/assets/service/service-destination_big.jpg
/public/assets/service/service-destination_02.jpg
/public/assets/service/service-destination_03.jpg
/public/assets/service/service-flatrate_big.jpg
/public/assets/service/service-flatrate_02.jpg
/public/assets/service/service-flatrate_03.jpg
/public/assets/UI/taxi_symbol.png
/public/assets/UI/taxi_symbol.xcf
/public/assets/UI/taxi_symbol_small.png
/public/assets/google
/public/assets/docs/basics
/public/assets/temp

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
