@use '../../../../../stylesheets/utilities' as sass;


.tava-service-specific-content {
    span {
        font-size: sass.$content-text-size;
    }
}

#form-checkbox,
.service-form-indented {
    display: flex;
    flex-direction: row;
}

.service-form-indented span {
    align-self: start;
    margin-top: 9px;
}

.tava-text-input-checkbox {
    $checkbox-scaled-width: 13px;
    margin: 0 calc(sass.$space15 + sass.$space5) 0 calc(sass.$space50 - $checkbox-scaled-width);
}

#form-origin {
    margin-top: sass.$space25;
}

.tava-service-golf-radio-wrapper {
    display: flex;
    flex-direction: column;

    label {
        margin: sass.$space5 0;
    }

    input {
        margin: 0 calc(sass.$space15 + sass.$space5) 0 calc(sass.$space50 - 13px);
    }
}

.tava-service-golf-block-validation {
    display: flex;
    justify-content: center;
    margin-top: sass.$space5;

    span {
        color: sass.$color-valid-red;
        font-size: sass.$input-text-size;
        align-content: center;
        margin-right: calc(sass.$space15 / 2);
    }
}

.tava-datetime-double {
    flex-direction: row;

    .tava-service-stay-wrapper {
        display: flex;
        flex-direction: column;
    }

    #tava-service-golf-stay-left {
        margin-right: sass.$space15;
        width: calc(100% - sass.$space15);
    }
    
    #tava-service-golf-stay-right {
        margin-left: sass.$space15;
        width: calc(100% - sass.$space15);
    }
}

.tava-service-offer-addition {
    padding-bottom: sass.$space5;
    border-bottom: 2px double var(--theme-body-text);
}

.tava-service-specific-content-sum-offer {
    .tava-service-specific-offer-sum {
        #tava-service-offer-sum-price {
            width: auto;
        }
        #tava-service-offer-hint-greenfee {
            padding-left: sass.$space5;
            font-style: italic;
            font-size: clamp(12px, 1.6vw, 16px);
            color: var(--theme-hint-grey);
        }
    }
}