@use '../../../../../stylesheets/utilities' as sass;


.tava-service-specific-content {
    span {
        font-size: sass.$content-text-size;
    }
}

#form-checkbox,
#form-latency {
    display: flex;
    flex-direction: row;
}

#form-latency span {
    align-self: start;
    margin-top: 9px;
}

.tava-text-input-checkbox {
    $checkbox-scaled-width: 13px;
    margin: 0 calc(sass.$space15 + sass.$space5) 0 calc(sass.$space50 - $checkbox-scaled-width);
}

#form-origin {
    margin-top: sass.$space25;
}
