<section class="tava-service-destination" ngClass="{{selectedBg}}">
    <header>
        <h2>
            {{'modules.service.content.destination.title' | translate}}
        </h2>
    </header>
    <div class="tava-service-destination-content">
        
        <!-- 1ST FORM (CUSTOMER ROUTE DATA) -->
        <div *ngIf="!hasOffer && hasToken" class="tava-service-destination-content-input-offer tava-service-form">
            <form [formGroup]="serviceForm">
                <div class="tava-service-destination-block" id="form-origin">
                    <span class="tava-service-block-label">
                        {{('modules.service.content.destination.labels.origin' | translate) + '*'}}
                    </span>
                    <tava-addressinput
                        [placeholder]="('modules.service.content.destination.labels.placeholder' | translate)"
                        [formControl]="serviceForm.get('originAddress') | controlCast"
                        [fieldName]="'modules.service.content.form.offer.origin' | translate"
                        (byPlaceSelection)="getAddressDetails($event, addressOptions.ORIGIN)"
                    ></tava-addressinput>
                </div>
                <div class="tava-service-destination-block" id="form-destination">
                    <span class="tava-service-block-label">
                        {{('modules.service.content.destination.labels.destination' | translate) + '*'}}
                    </span>
                    <tava-addressinput
                        [placeholder]="('modules.service.content.destination.labels.placeholder' | translate)"
                        [formControl]="serviceForm.get('destinationAddress') | controlCast"
                        [fieldName]="'modules.service.content.form.offer.destination' | translate"
                        (byPlaceSelection)="getAddressDetails($event, addressOptions.DESTINATION)"
                    ></tava-addressinput>                    
                </div>
                <div class="tava-service-destination-block" id="form-checkbox">
                    <input class="tava-text-input-checkbox" type="checkbox" (change)="getBack2HomeCheckboxValue($event)">
                    <span class="tava-service-block-input">
                        {{'modules.service.content.destination.labels.back2home' | translate}}
                    </span>
                </div>
                <div *ngIf="serviceForm.get('back2home')?.value" class="tava-service-destination-block" id="form-latency">
                    <tava-textinput
                        [ngClass]="'tava-input-time'"
                        [inputType]="'time'"
                        [formControl]="serviceForm.get('latency') | controlCast"
                        [fieldName]="'modules.service.content.form.offer.latency' | translate"
                    ></tava-textinput>
                    <span class="tava-service-block-input">
                        {{'modules.service.content.destination.labels.latency' | translate}}
                    </span>
                </div>
                <div class="tava-service-destination-block" id="form-datetime">
                    <span class="tava-service-block-label">
                        {{('modules.service.content.destination.labels.datetime' | translate) + '*'}}
                    </span>
                    <tava-textinput
                        [inputType]="'datetime-local'"
                        [minValString]="restrictDatePicker()"
                        [formControl]="serviceForm.get('datetime') | controlCast"
                        [fieldName]="'modules.service.content.form.offer.datetime' | translate"
                    ></tava-textinput>
                </div>
            </form>
        </div>
        <div *ngIf="!hasOffer && hasToken" class="tava-button-wrapper">
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="onSubmitOffer()"
                (keydown.enter)="onSubmitOffer()"
            >{{'modules.service.commands.calc' | translate}}</button>
        </div>

        <!-- SUM OF PROCESSED DATA (FORM ROUTE DATA) -->
        <div *ngIf="!loadOfferResponse && !loadOrderResponse && hasOffer && !hasConfirmed" class="tava-service-destination-content-sum-offer tava-service-form">
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.order.contact' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{('shared.enum.gender.' + serviceForm.get('gender')?.value | translate) + customer}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.customer.phone' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('phone')?.value}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.customer.email' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('email')?.value}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-destination-offer-sum" id="tava-service-offer-customer-last">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.customer.note' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('note')?.value !== '' ? serviceForm.get('note')?.value : '-/-'}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.offer.origin' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('originAddress')?.value}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.offer.destination' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('destinationAddress')?.value}}
                </span>
            </div>
            <div *ngIf="serviceForm.get('back2home')?.value" class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.offer.back2home' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('originAddress')?.value}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.order.date-pickup' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('pickupDATE')?.value}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum" *tavaVar="(pickupTimeByLang$ | async) as pickup">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.order.time-pickup' | translate) + ':'}}
                </span>
                <span *ngIf="pickup !== null" class="tava-service-destination-offer-sum-right">
                    {{pickup}}
                </span>
                <span *ngIf="pickup === null" class="tava-service-destination-offer-sum-right">
                    {{pickupTimeByLangStatic}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.order.distance' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('distance')?.value | distanceFormat}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.order.duration' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('duration')?.value + ' h'}}
                </span>
            </div>
            <div *ngIf="serviceForm.get('back2home')?.value" class="tava-service-destination-offer-sum">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.order.latency' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('latency')?.value + ' h'}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum" id="tava-service-offer-warnings">
                <span>
                    {{('modules.service.content.form.order.warnings' | translate)}}
                </span>
                <span>
                    {{('modules.service.content.form.order.licence' | translate)}}
                </span>
                <span>
                    {{'modules.service.content.form.order.latency-calc' | translate}}
                </span>
            </div>
            <div class="tava-service-destination-offer-sum" id="tava-service-offer-price">
                <span class="tava-service-destination-offer-sum-left">
                    {{('modules.service.content.form.order.price-fixed' | translate) + ':'}}
                </span>
                <span class="tava-service-destination-offer-sum-right">
                    {{serviceForm.get('price')?.value | currencyFormat}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-terms tava-first-term">
                <input class="tava-text-input-checkbox" type="checkbox" (change)="getTermsCheckboxValue($event)">
                <span
                    class="tava-service-block-input"
                    [ngClass]="!termCancellation ? 'tava-message-invalid' : ''"
                >
                    {{'modules.service.content.form.order.terms' | translate}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-terms">
                <input class="tava-text-input-checkbox" type="checkbox" (change)="getSurchargeFuelCheckboxValue($event)">
                <span
                    class="tava-service-block-input"
                    [ngClass]="!termSurchargeFuel ? 'tava-message-invalid' : ''"
                >
                    {{'modules.service.content.form.order.surcharge-fuel' | translate}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-terms">
                <input class="tava-text-input-checkbox" type="checkbox" (change)="getSurchargeParkingCheckboxValue($event)">
                <span
                    class="tava-service-block-input"
                    [ngClass]="!termSurchargeParking ? 'tava-message-invalid' : ''"
                >
                    {{'modules.service.content.form.order.surcharge-parking' | translate}}
                </span>
            </div>
        </div>

        <!-- 2ND FORM (PRIVATE CUSTOMER DATA) -->
        <div *ngIf="!loadOfferResponse && hasOffer && !hasOrder" class="tava-service-destination-content-input-order tava-service-form">
            <form [formGroup]="serviceForm">
                <div class="tava-service-destination-customer-block double-block">
                    <div class="tava-service-form-customer-double" id="tava-service-customer-double-left">
                        <span class="tava-service-block-label">
                            {{('modules.service.content.form.customer.gender' | translate) + '*'}}
                        </span>
                        <tava-selectinput
                            [className]="'tava-form'"
                            [formControl]="serviceForm.get('gender') | controlCast"
                            [options]="{male: 'male', female: 'female'}"
                            [optionsTranslateRoot]="'shared.enum.gender.'"
                            [fieldName]="'modules.service.content.form.customer.gender' | translate"
                            [placeholder]="'modules.service.content.form.customer.placeholder.gender' | translate"
                        ></tava-selectinput>
                    </div>
                    <div class="tava-service-form-customer-double" id="tava-service-customer-double-right">
                        <span class="tava-service-block-label">
                            {{'modules.service.content.form.customer.title' | translate}}
                        </span>
                        <tava-textinput
                            [inputType]="'text'"
                            [formControl]="serviceForm.get('title') | controlCast"
                            [placeholder]="'modules.service.content.form.customer.placeholder.title' | translate"
                            [fieldName]="'modules.service.content.form.customer.title' | translate"
                        ></tava-textinput>
                    </div>
                </div>
                <div class="tava-service-destination-customer-block double-block">
                    <div class="tava-service-form-customer-double" id="tava-service-customer-double-left">
                        <span class="tava-service-block-label">
                            {{('modules.service.content.form.customer.first-name' | translate) + '*'}}
                        </span>
                        <tava-textinput
                            [inputType]="'text'"
                            [formControl]="serviceForm.get('firstName') | controlCast"
                            [placeholder]="'modules.service.content.form.customer.placeholder.first-name' | translate"
                            [fieldName]="'modules.service.content.form.customer.first-name' | translate"
                        ></tava-textinput>
                    </div>
                    <div class="tava-service-form-customer-double" id="tava-service-customer-double-right">
                        <span class="tava-service-block-label">
                            {{('modules.service.content.form.customer.last-name' | translate) + '*'}}
                        </span>
                        <tava-textinput
                            [inputType]="'text'"
                            [formControl]="serviceForm.get('lastName') | controlCast"
                            [placeholder]="'modules.service.content.form.customer.placeholder.last-name' | translate"
                            [fieldName]="'modules.service.content.form.customer.last-name' | translate"
                        ></tava-textinput>
                    </div>
                </div>
                <div class="tava-service-destination-customer-block">
                    <div class="tava-service-form-customer-single">
                        <span class="tava-service-block-label">
                            {{('modules.service.content.form.customer.phone' | translate) + '*'}}
                        </span>
                        <tava-textinput
                            [inputType]="'text'"
                            [formControl]="serviceForm.get('phone') | controlCast"
                            [placeholder]="'modules.service.content.form.customer.placeholder.phone' | translate"
                            [fieldName]="'modules.service.content.form.customer.phone' | translate"
                        ></tava-textinput>
                    </div>
                </div>
                <div class="tava-service-destination-customer-block">
                    <div class="tava-service-form-customer-single">
                        <span class="tava-service-block-label">
                            {{('modules.service.content.form.customer.email' | translate) + '*'}}
                        </span>
                        <tava-textinput
                            [inputType]="'email'"
                            [formControl]="serviceForm.get('email') | controlCast"
                            [placeholder]="'modules.service.content.form.customer.placeholder.email' | translate"
                            [fieldName]="'modules.service.content.form.customer.email' | translate"
                        ></tava-textinput>
                    </div>
                </div>
                <div class="tava-service-destination-customer-block">
                    <div class="tava-service-form-customer-single">
                        <span class="tava-service-block-label">
                            {{'modules.service.content.form.customer.note' | translate}}
                        </span>
                        <tava-textareainput
                            [rows]="4"
                            [formControl]="serviceForm.get('note') | controlCast"
                            [placeholder]="'modules.service.content.form.customer.placeholder.note' | translate"
                            [fieldName]="'modules.service.content.form.customer.note' | translate"
                        ></tava-textareainput>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="!loadOfferResponse && hasOffer && !hasOrder" class="tava-button-wrapper">
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="onSubmitOrder()"
                (keydown.enter)="onSubmitOrder()"
            >{{'modules.service.commands.check' | translate}}</button>
        </div>
        <div 
            *ngIf="!loadOrderResponse && hasOffer && hasOrder && !hasConfirmed" 
            class="tava-button-wrapper" 
            [ngClass]="termCancellation && termSurchargeFuel && termSurchargeParking ? '' : 'tava-order-submit-invalid'" 
        >
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="submitOrder()"
                (keydown.enter)="submitOrder()"
            >{{'modules.service.commands.confirm' | translate}}</button>
        </div>
    </div>
    <div class="tava-loading-animation" [ngClass]="(!hasToken || loadOfferResponse || loadOrderResponse) ? 'tava-visible' : 'tava-hidden'">
        <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</section>