@use '../../../../../stylesheets/utilities' as sass;


.tava-service-destination-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    span {
        font-size: sass.$content-text-size;
    }
}

#form-checkbox,
#form-latency {
    display: flex;
    flex-direction: row;
}

#form-latency span {
    align-self: start;
    margin-top: 9px;
}

.tava-text-input-checkbox {
    $checkbox-scaled-width: 13px;
    $input-time-width: 100px;

    transform: scale(1.5);
    padding: 0;
    margin: 0 calc(sass.$space15 + sass.$space5) 0 calc($input-time-width - $checkbox-scaled-width);

    /* hide default checkbox */
    background: none;
    cursor: pointer;
}

#form-origin {
    margin-top: sass.$space25;
}

.tava-service-destination-block {
    display: flex;
    flex-direction: column;
    margin-bottom: sass.$space25;
}

.tava-service-block-label {
    color: sass.$color-grey-label;
    text-shadow: 0.6px 0.6px;
    margin-bottom: sass.$space5;
}

.tava-service-destination-content-sum-offer {
    padding: calc((sass.$space25 / 2) + sass.$space15) sass.$space25;
    border: 2px outset grey;
    border-radius: sass.$space15;

    .tava-service-destination-offer-sum {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: sass.$space5 0;

        .tava-service-destination-offer-sum-left {
            text-align: end;
            width: 33%;
        }
        .tava-service-destination-offer-sum-right {
            text-align: start;
            width: 67%;
            margin-left: sass.$space5;
        }
    }

    #tava-service-offer-customer-last {
        margin-bottom: sass.$space25;
    }

    #tava-service-offer-warnings{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        margin: sass.$space15 0 sass.$space25 0;
        text-align: center;
        border: 1px outset var(--theme-snackbar-warning);
        border-radius: sass.$space15;
        padding: sass.$space15;
        font-style: italic;
        color: var(--theme-snackbar-warning);
        span {
            opacity: var(--warning-opacity);
            text-shadow: 1px 1px 5px var(--warning-shadow);
        }
    }

    #tava-service-offer-price .tava-service-destination-offer-sum-right {
        font-weight: bold;
        color: var(--theme-main-green);
    }
    
    #tava-service-offer-price {
        margin: calc(sass.$space15 + 20px) 0 0 0;
    }
}

.tava-service-destination-content-input-offer,
.tava-service-destination-content-input-order {
    display: flex;
    flex-direction: column;
    border: 2px outset grey;
    border-radius: sass.$space15;
    padding: calc(sass.$space25 / 2) sass.$space25;
    
    .destination-input input,
    .destination-dropdown select {
        width: 250px;
        padding: sass.$space5 0;
    }

    .destination-checkbox {
        margin-left: sass.$space50;
    }
}

.tava-service-destination-content-input-order {
    margin: sass.$space50 0 0 0;
}

.tava-service-destination-customer-block {
    display: flex;
    flex-direction: row;
    margin: sass.$space15 0;
}

.tava-service-form-customer-single {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tava-service-form-customer-double {
    display: flex;
    flex-direction: column;
    width: 47.5%;
}

#tava-service-customer-double-right {
    margin-left: 5%;
}

.tava-button-wrapper {
    margin: sass.$space50 0;
}

.tava-service-destination-terms {
    display: flex;
    padding: calc(sass.$space25 / 2) sass.$space25;

    span {
        font-style: italic;
        opacity: 0.8;
    }

    .tava-message-invalid {
        color: sass.$color-valid-red;
    }
}

.final-message {
    text-align: center;
    color: var(--theme-body-text);
    font-size: 40px;
    font-weight: bold;
}

.tava-order-submit-invalid button {
    color: grey;
    user-select: none;
    cursor: default;
    pointer-events: none;
    opacity: 0.2;
}
