@use '../../../../stylesheets/utilities' as sass;


.tava-snackbar-container {
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    background-color: sass.$color-fullscale-bg;
    margin: sass.$space15;
    margin-bottom: 0;
    border-radius: 2.5px;
}

.snackbar-error {
    span,
    i {
        color: var(--theme-snackbar-error);
    }

    .tava-snackbar-btn-wrapper {
        border-color: sass.$color-border-error;
        &:hover {
            border-color: var(--theme-snackbar-error);
        }
    }
}
.snackbar-info {
    span,
    i {
        color: var(--theme-snackbar-info);
    }

    .tava-snackbar-btn-wrapper {
        border-color: sass.$color-border-info;
        &:hover {
            border-color: var(--theme-snackbar-info);
        }
    }
}
.snackbar-success {
    span,
    i {
        color: var(--theme-snackbar-success);
    }

    .tava-snackbar-btn-wrapper {
        border-color: sass.$color-border-success;
        &:hover {
            border-color: var(--theme-snackbar-success);
        }
    }
}
.snackbar-warning {
    span,
    i {
        color: var(--theme-snackbar-warning);
    }

    .tava-snackbar-btn-wrapper {
        border-color: sass.$color-border-warning;
        &:hover {
            border-color: var(--theme-snackbar-warning);
        }
    }
}

.tava-snackbar-content {
    display: flex;
    flex-direction: column;
    
    .tava-snackbar-title {
        display: flex;
        flex-direction: row;
        padding: 0 0 15px 0;

        span {
            padding-left: 15px;
            text-transform: uppercase;
            font-weight: bold;
            align-content: center;
            font-size: 15px;
        }
        h4 {
            color: sass.$color-ice-white;
            padding: 0 sass.$space5;
            margin-block: 0;
            margin-inline: 0;
            font-size: 15px;
            align-self: end;
            text-transform: uppercase;
        }
    }
    .tava-snackbar-text {        
        color: sass.$color-ice-white;
        padding: 0 15px;
        margin-block: 0;
        margin-inline: 0;
        font-size: 12px;
        white-space: pre-line;
        line-height: sass.$text-line-height;
    }
}

.tava-singleline {
    align-self: center;
    padding: 25px 0;

    div {
        padding: 0!important;
    }
}

.tava-multiline {
    padding: 15px 0;
}

.tava-snackbar-btn {
    display: flex;
    align-items: center;
    padding: 12px;

    .tava-snackbar-btn-wrapper {
        display: flex;
        border-width: 1px;
        border-style: solid;
        border-radius: 2.5px;
        cursor: pointer;

        i {
            margin: 3px;
        }
    }

}