<div class="tava-snackbar-container" [ngClass]="'snackbar-' + snackbarClass">
	<div class="tava-snackbar-content" [ngClass]="!!snackbarMsg.text ? 'tava-multiline' : 'tava-singleline'">
			<div class="tava-snackbar-title">
			<span>{{snackbarMsg.type}}: </span>
			<h4>{{snackbarMsg.title}}</h4>
			</div>
			@if (!!snackbarMsg.text) {
			<div class="tava-snackbar-text">
				{{snackbarMsg.text}}
				@if (snackbarMsg.phone) {
				<a href="tel:{{snackbarMsg.phone}}">{{snackbarMsg.phone}}</a>
				}
				@if (snackbarMsg.mail) {
				<a href="mailto:{{snackbarMsg.mail}}">{{snackbarMsg.mail}}</a>
				}
			</div>
			}
	</div>
	@if (!snackbarMsg.autoClose) {
		<div class="tava-snackbar-btn">
			<div class="tava-snackbar-btn-wrapper">
				<i
					class="icon-closeX icon-base"
					(click)="close()"
					(keydown.enter)="close()"
					[attr.aria-disabled]="true"
				></i>
			</div>
		</div>
	}
</div>