@use '../../../stylesheets/utilities' as sass;


.tava-about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: sass.$space50;

    p {
        font-size: sass.$content-text-size;
    }
}


