@use '../../../../../stylesheets/utilities' as sass;


.tava-text {
    // use ngStyle for width to style lvl above => <tava-textinput>
    display: grid;
    position: relative;
    input {
        border-radius: calc(sass.$space5 + 1px);
        text-overflow: ellipsis;
        padding-block: 0;
    }
}
input[type="time"] {
    padding: 7.2px sass.$form-padding-small;
}
input[type="datetime-local"] {
    font-family: sass.$font-text-family;
    padding: 9px sass.$form-padding-small;
}

.tava-input-inactive input {
    pointer-events: none;
    opacity: 0.5;
    color: grey;
}

.tava-warning-input-text {
    margin: 0 sass.$space5 0 0;
}

.tava-warning-input-time,
.tava-warning-input-datetime-local {
    margin: 0 sass.$space25 0 0;
}
