<div class="tava-text-wrapper {{className}}" ngClass="{{ngClass}}">
    <input 
        type="{{inputType}}"
        placeholder="{{placeholder}}"
        id="{{'tava-' + fieldName}}"
        [readonly]="readonly"
        [formControl]="formControl"
        min="{{minVal}}"
        max="{{maxVal}}"
    >
    <i
        class="icon-warning"
        *ngIf="!isFocused && formControl.invalid && (formControl.dirty || formControl.touched)"
        [ngClass]="classNameWarningIcon"
    ></i>
    <tava-validation
        *ngIf="!isFocused"
        [ngControl]="formControl"
        [fieldName]="fieldName"
    ></tava-validation>
</div>