<section class="tava-service-airport" ngClass="{{selectedBg}}">
    <header>
        <h2>
            {{'modules.service.content.airport.title' | translate}}
        </h2>
    </header>
    <div class="tava-service-airport-content">
        <div *ngIf="!hasOffer" class="tava-service-airport-content-input-offer">
            <div class="airport-option">
                <input type="radio" id="arrival" name="arrivalORdeparture">
                <label for="arrival">Arrival at airport</label>
            </div>
            <div class="airport-option">
                <input type="radio" id="departure" name="arrivalORdeparture">
                <label for="departure">Departure from airport</label>
            </div>
            <div class="airport-input">
                <input type="text" id="addressHome" name="addressHome" placeholder="Home address">
            </div>
            <div class="airport-input">
                <input type="number" id="passengers" name="passengers" min="1" max="4" placeholder="Number of passengers">
            </div>
            <div class="airport-input">
                <input type="number" id="luggage" name="luggage" placeholder="Number of oversized luggage">
            </div>
            <div class="airport-checkbox">
                <input type="checkbox" id="luggageGolf" name="luggageGolf">
                <label for="luggageGolf">contain golf clubs</label>
            </div>
            <div class="airport-input">
                <input type="datetime-local" id="datetime" name="datetime">
            </div>
        </div>
        <div *ngIf="!hasOffer" class="tava-button-wrapper">
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="nextOffer()"
                (keydown.enter)="nextOffer()"
            >{{'modules.service.content.airport.calc' | translate}}</button>
        </div>
        <div *ngIf="hasOffer && !hasConfirmed" class="tava-service-airport-content-offer">
            <p>
                1. Destination From: Vienna International Airport (departure)<br>
                2. Destination To: Anton Bruckner-Gasse 11, 2544 Leobersdorf (Austria)<br>
                3. Number of passengers: 2<br>
                4. Number of oversized luggage: 2<br>
                5. Contains golf luggage: yes<br>
                6. Date of pick-up: 17.01.2025<br>
                7. Time of pick-up: 07:52 AM<br>
                8. Distance: 49.6km<br>
                9. Estimated duration: 00:41 (hh:mm)<br>
                <br>
                --------------------------<br>
                Estimated price: 86.07 EUR
            </p>
        </div>
        <div *ngIf="hasOffer && !hasOrder" class="tava-service-airport-content-input-order">
            <div class="airport-dropdown">
                <select name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="airport-input">
                <input type="text" id="title" name="title" placeholder="Title">
            </div>
            <div class="airport-input">
                <input type="text" id="firstname" name="firstname" placeholder="First name">
            </div>
            <div class="airport-input">
                <input type="text" id="lastname" name="lastname" placeholder="Last name">
            </div>
            <div class="airport-input">
                <input type="text" id="phone" name="phone" placeholder="Phone number">
            </div>
            <div class="airport-input">
                <input type="email" id="email" name="email" placeholder="email adress">
            </div>
        </div>
        <div *ngIf="hasOffer && !hasOrder" class="tava-button-wrapper">
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="nextOrder()"
                (keydown.enter)="nextOrder()"
            >{{'modules.service.content.airport.check' | translate}}</button>
        </div>
        <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-airport-content-order">
            <p>
                1. Contact: Mr Ing. Laszlo Varga<br>
                2. Phone: 06644465466<br>
                3. Email: laszlovarga&#64;gmx.at<br>
            </p>
        </div>
        <div *ngIf="hasOffer && hasOrder && !hasConfirmed" class="tava-button-wrapper">
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="nextConfirm()"
                (keydown.enter)="nextConfirm()"
            >{{'modules.service.content.airport.confirm' | translate}}</button>
        </div>
        <span *ngIf="hasConfirmed" class="final-message">Your request was sent successfully!<br>Processing takes 1-2 work days.</span>
    </div>
</section>