<section class="tava-service-airport" ngClass="{{selectedBg}}">
    <header>
        <h2>
            {{'modules.service.content.airport.title' | translate}}
        </h2>
    </header>
    <div class="tava-service-specific-content">

        <!-- 1ST FORM (CUSTOMER ROUTE DATA) -->
        <div *ngIf="!hasOffer && hasToken" class="tava-service-specific-content-input-offer tava-service-form">
            <form [formGroup]="serviceForm">
                <div
                    class="tava-service-specific-block"
                    id="form-radio" 
                    *tavaVar="serviceForm.get('airportMode') as airportMode"
                >
                    <div class="tava-service-airport-radio-wrapper">
                        <label class="tava-form-radio-left tava-custom-input-radio">
                            <input
                                class="tava-text-input-radio"
                                type="radio"
                                [value]="directionOptions.ARRIVAL"
                                formControlName="airportMode"
                                (change)="getDirectionRadioValue()"
                            >
                            <span>{{'modules.service.content.airport.labels.arrival' | translate}}</span>
                        </label>
                        <label class="tava-form-radio-right tava-custom-input-radio">
                            <input
                                class="tava-text-input-radio"
                                type="radio"
                                [value]="directionOptions.DEPARTURE"
                                formControlName="airportMode"
                                (change)="getDirectionRadioValue()"
                            >
                            <span>{{'modules.service.content.airport.labels.departure' | translate}}</span>
                        </label>
                    </div>
                    <div
                        *ngIf="airportMode?.invalid && (airportMode?.dirty || airportMode?.touched)"
                        class="tava-service-airport-block-validation"
                    >
                        <span>
                            {{'modules.service.content.airport.block-validation' | translate}}
                        </span>
                        <i class="icon-warning"></i>
                    </div>
                </div>
                <div 
                    *ngIf="serviceForm.get('airportMode')?.value === directionOptions.DEPARTURE"
                    class="tava-service-specific-block"
                    id="form-origin"
                >
                    <span class="tava-service-block-label">
                        {{('modules.service.content.airport.labels.origin' | translate) + '*'}}
                    </span>
                    <tava-addressinput
                        [placeholder]="'modules.service.content.airport.labels.placeholder' | translate"
                        [formControl]="serviceForm.get('originAddress') | controlCast"
                        [fieldName]="'modules.service.content.form.offer.origin' | translate"
                        [exceptions]="['vie-schwechat']"
                        (byPlaceSelection)="getAddressDetails($event, addressOptions.ORIGIN)"
                    ></tava-addressinput>
                </div>
                <div 
                    *ngIf="serviceForm.get('airportMode')?.value === directionOptions.ARRIVAL"          
                    class="tava-service-specific-block"
                    id="form-destination"
                >
                    <span class="tava-service-block-label">
                        {{('modules.service.content.airport.labels.destination' | translate) + '*'}}
                    </span>
                    <tava-addressinput
                        [placeholder]="'modules.service.content.airport.labels.placeholder' | translate"
                        [formControl]="serviceForm.get('destinationAddress') | controlCast"
                        [fieldName]="'modules.service.content.form.offer.destination' | translate"
                        [exceptions]="['vie-schwechat']"
                        (byPlaceSelection)="getAddressDetails($event, addressOptions.DESTINATION)"
                    ></tava-addressinput>
                </div>
                <div
                    *ngIf="serviceForm.get('airportMode')?.value !== null" 
                    class="tava-service-specific-block"
                    id="form-datetime"
                >
                    <span class="tava-service-block-label">
                        {{('modules.service.content.airport.labels.datetime' | translate) + '*'}}
                    </span>
                    <tava-textinput
                        [inputType]="'datetime-local'"
                        [minValString]="restrictDatePicker()"
                        [formControl]="serviceForm.get('datetime') | controlCast"
                        [fieldName]="'modules.service.content.form.offer.datetime' | translate"
                    ></tava-textinput>
                </div>
            </form>
        </div>
        <div *ngIf="!hasOffer && hasToken" class="tava-button-wrapper">
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="onSubmitOffer()"
                (keydown.enter)="onSubmitOffer()"
            >{{'modules.service.commands.forward' | translate}}</button>
        </div>

        <!-- SUM OF PROCESSED DATA (FROM ROUTE DATA) -->
        <div *ngIf="!loadOfferResponse && !loadOrderResponse && hasOffer && !hasConfirmed" class="tava-service-specific-content-sum-offer tava-service-form">
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.order.contact' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{('shared.enum.gender.' + serviceForm.get('gender')?.value | translate) + customer}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.customer.phone' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{serviceForm.get('phone')?.value}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.customer.email' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{serviceForm.get('email')?.value}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-specific-offer-sum" id="tava-service-offer-customer-last">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.customer.note' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{serviceForm.get('note')?.value !== '' ? serviceForm.get('note')?.value : '-/-'}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.offer.origin' | translate) + ':'}}
                </span>
                <span
                    *ngIf="serviceForm.get('originAddress')?.value === 'vie-schwechat'"
                    class="tava-service-specific-offer-sum-right"
                >
                    {{'modules.service.content.airport.vie-schwechat' | translate}}
                </span>
                <span
                    *ngIf="serviceForm.get('originAddress')?.value !== 'vie-schwechat'"
                    class="tava-service-specific-offer-sum-right"
                >
                    {{serviceForm.get('originAddress')?.value}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.offer.destination' | translate) + ':'}}
                </span>
                <span
                    *ngIf="serviceForm.get('destinationAddress')?.value === 'vie-schwechat'"
                    class="tava-service-specific-offer-sum-right"
                >
                    {{'modules.service.content.airport.vie-schwechat' | translate}}
                </span>
                <span
                    *ngIf="serviceForm.get('destinationAddress')?.value !== 'vie-schwechat'"
                    class="tava-service-specific-offer-sum-right"
                >
                    {{serviceForm.get('destinationAddress')?.value}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.order.date-pickup' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{serviceForm.get('pickupDATE')?.value}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum" *tavaVar="(pickupTimeByLang$ | async) as pickup">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.order.time-pickup' | translate) + ':'}}
                </span>
                <span *ngIf="pickup !== null" class="tava-service-specific-offer-sum-right">
                    {{pickup}}
                </span>
                <span *ngIf="pickup === null" class="tava-service-specific-offer-sum-right">
                    {{pickupTimeByLangStatic}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.order.distance' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{serviceForm.get('distance')?.value | distanceFormat}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.order.duration' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{serviceForm.get('duration')?.value + ' h'}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum" id="tava-service-offer-warnings">
                <span>
                    {{('modules.service.content.form.order.warnings' | translate)}}
                </span>
                <span>
                    {{('modules.service.content.form.order.licence' | translate)}}
                </span>
            </div>
            <div class="tava-service-specific-offer-sum" id="tava-service-offer-price">
                <span class="tava-service-specific-offer-sum-left">
                    {{('modules.service.content.form.order.price-fixed' | translate) + ':'}}
                </span>
                <span class="tava-service-specific-offer-sum-right">
                    {{serviceForm.get('price')?.value | currencyFormat}}
                </span>
            </div>
            <div *ngIf="hasOrder && !hasConfirmed" class="tava-service-terms first-term tava-custom-input-checkbox">
                <input class="tava-text-input-checkbox" type="checkbox" (change)="getTermsCheckboxValue($event)">
                <span
                    class="tava-service-block-input"
                    [ngClass]="!termCancellation ? 'tava-message-invalid' : ''"
                >
                    {{'modules.service.content.form.order.terms' | translate}}
                </span>
            </div>
        </div>

        <!-- 2ND FORM (PRIVATE CUSTOMER DATA) -->
        <div *ngIf="!loadOfferResponse && hasOffer && !hasOrder" class="tava-service-specific-content-input-order tava-service-form">
            <tava-servicemeta [metaFormGroup]="metaForm"></tava-servicemeta>
        </div>
        <div *ngIf="!loadOfferResponse && hasOffer && !hasOrder" class="tava-button-wrapper">
            <button
                class="tava-button-submit"
                [attr.aria-disabled]="true"
                (click)="onSubmitOrder()"
                (keydown.enter)="onSubmitOrder()"
            >{{'modules.service.commands.forward' | translate}}</button>
        </div>
        <div 
            *ngIf="!loadOrderResponse && hasOffer && hasOrder && !hasConfirmed" 
            class="tava-button-wrapper" 
            [ngClass]="termCancellation ? '' : 'tava-order-submit-invalid'" 
        >
            <button
                class="tava-button-submit"
                [attr.disabled]="!termCancellation ? true : null"
                [attr.tabindex]="termCancellation ? 0 : -1"
                (click)="submitOrder()"
            >{{'modules.service.commands.confirm' | translate}}</button>
        </div>
    </div>
    <div class="tava-loading-animation" [ngClass]="(!hasToken || loadOfferResponse || loadOrderResponse) ? 'tava-visible' : 'tava-hidden'">
        <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</section>