@use '../../../../../stylesheets/utilities' as sass;


#form-radio {
    display: flex;
    flex-direction: column;
    margin-top: sass.$space25;

    .tava-service-airport-radio-wrapper {
        display: flex;
        flex-direction: column;

        label {
            margin: sass.$space5 0;
    
            input {
                margin-right: calc(sass.$space15 - sass.$space5);
            }
        }

        .tava-form-radio-left {
            width: 100%;
            text-align: center;
            margin: calc(sass.$space15 - sass.$space5) 0;
        }
        
        .tava-form-radio-right {
            width: 100%;
            text-align: center;
            margin: calc(sass.$space15 - sass.$space5) 0;
        }
    }

    .tava-service-airport-block-validation {
        display: flex;
        justify-content: center;
        margin-top: sass.$space5;

        span {
            color: sass.$color-valid-red;
            font-size: sass.$input-text-size;
            align-content: center;
            margin-right: calc(sass.$space15 / 2);
        }
    }
}

#form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}
