
<section class="tava-service" ngClass="{{selectedBg}}">
    <div class="tava-service-content">
        <div class="tava-service-route triple-outer">
            <img 
                class="tava-service-image"
                src="assets/service/service-airport.webp"
                alt="404 image not found"
                [routerLink]="'airport'"
                [attr.aria-disabled]="true"
            >
            <div
                class="tava-service-route-description"
                [routerLink]="'airport'"
                [attr.aria-disabled]="true"
            >
                <span class="tava-anchor">{{'modules.service.content.airport.option.title' | translate}}</span>
                <span class="tava-anchor-sub">{{'modules.service.content.airport.option.subtitle' | translate}}</span>
            </div>
            <span class="tava-author author-dark-bg">
                <a href="{{authorAirportImg}}" target="_blank">{{'shared.assets.author' | translate}}</a>
            </span>
        </div>
        <div class="tava-service-route triple-inner">
            <img
                class="tava-service-image"
                src="assets/service/service-destination.webp"
                alt="404 image not found"
                [routerLink]="'destination'"
                [attr.aria-disabled]="true"
            >
            <div
                class="tava-service-route-description"
                [routerLink]="'destination'"
                [attr.aria-disabled]="true"
            >
                <span class="tava-anchor">{{'modules.service.content.destination.option.title' | translate}}</span>
                <span class="tava-anchor-sub">{{'modules.service.content.destination.option.subtitle' | translate}}</span>
            </div>
        </div>
        <div class="tava-service-route triple-outer">
            <img 
                class="tava-service-image"
                src="assets/service/service-flatrate.webp"
                alt="404 image not found"
                [routerLink]="'flatrate'"
                [attr.aria-disabled]="true"
            >
            <div
                class="tava-service-route-description"
                id="tava-service-route-description-flatrate"
                [routerLink]="'flatrate'"
                [attr.aria-disabled]="true"
            >
                <span class="tava-anchor">{{'modules.service.content.flatrate.option.title' | translate}}</span>
            </div>
            <span class="tava-author author-light-bg">
                <a href="{{authorFlatrateImg}}" target="_blank">{{'shared.assets.author' | translate}}</a>
            </span>
        </div>
    </div>
</section>