@use '../../../stylesheets/utilities' as sass;


/* SERVICE OVERVIEW STYLING --- SERVICE OVERVIEW STYLING */
.tava-service-content {
    width: 100%;
    min-height: calc(100vh - var(--size-nav-height) - var(--size-footer-height));
    display: flex;
    justify-content: center;
    background-color: var(--theme-palette-background);
}

.tava-service-route {
    display: flex;
    align-items: center;
    justify-content: center;
    .tava-service-route-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        object-fit: cover;
        filter: grayscale(1) brightness(0.7);

        &:hover {
            filter: grayscale(0);
        }
    }

    img:has(+ .tava-service-route-description:hover) {
        filter: grayscale(0);
    }

    &:hover {
        cursor: pointer;
    }

    .tava-anchor {
        font-size: 22px;
        text-transform: uppercase;
        white-space: pre-line;
    }

    $anchor-padding: sass.$space15;
    .tava-service-route-description {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: $anchor-padding;
        cursor: pointer;

        // Filter blur(0px) necessary to visualize border-radius.
        // bug: https://stackoverflow.com/questions/36378512/backdrop-filter-extends-beyond-border-radius
        backdrop-filter: brightness(0.3) blur(0px);
        border-radius: 5px;

        span:nth-child(2) {
            color: sass.$color-ice-white;
        }
    }

    #tava-service-route-description-flatrate span {
        padding: 9px 0;
    }

    .tava-author {
        position: absolute;
        display: flex;
        align-self: end;
        justify-content: right;
        
        a {
            padding: sass.$space5 sass.$space15;
            text-decoration: none;
            cursor: help;
            font-size: 11px;
        }
    }

    .author-dark-bg a {
        color: sass.$color-grey-label;
    }

    .author-light-bg a {
        color: sass.$color-ice-white;
    }
}

/* SERVICE OVERVIEW STYLING --- SERVICE OVERVIEW STYLING */
/* ##################################################### */
/* SERVICE SPECIFIC STYLING --- SERVICE SPECIFIC STYLING */

.tava-service-specific-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .tava-service-form {
        background-color: var(--theme-form-bg);
    }

    span {
        font-size: clamp(12px, 1.6vw, 18px);
        color: sass.$color-ice-white;
    }
}

.tava-service-block-label {
    color: sass.$color-grey-label!important;
    text-shadow: 0.6px 0.6px;
    margin-bottom: sass.$space5;
}

.tava-custom-input-checkbox input[type="checkbox"] {
    border: 2px solid sass.$color-ice-white;
}
.tava-custom-input-radio input[type="radio"] {
    border: 2px solid sass.$color-ice-white;
}

.tava-text-input-checkbox {
    transform: scale(1.5);
    padding: 0;
    margin: 0 sass.$space50;

    /* hide default checkbox */
    background: none;
    cursor: pointer;
}

.tava-service-specific-content-sum-offer {
    padding: calc((sass.$space25 / 2) + sass.$space15) sass.$space25;
    border: 2px outset grey;
    border-radius: sass.$space15;

    .tava-service-specific-offer-sum {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: sass.$space5 0;
        align-items: center;

        .tava-service-specific-offer-sum-left {
            text-align: end;
            overflow-wrap: anywhere;
        }
        .tava-service-specific-offer-sum-right {
            text-align: start;
            margin-left: sass.$space5;
        }
    }

    #tava-service-offer-customer-last {
        margin-bottom: sass.$space25;
    }

    #tava-service-offer-warnings{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        margin: sass.$space15 0 sass.$space25 0;
        text-align: center;
        border: 1px outset var(--theme-snackbar-warning);
        border-radius: sass.$space15;
        padding: sass.$space15;
        font-style: italic;
        span {
            color: var(--theme-snackbar-warning)!important;
            opacity: var(--warning-opacity);
            text-shadow: 1px 1px 5px var(--warning-shadow);
            margin: calc(sass.$space5 / 2);
            line-height: sass.$text-line-height;
        }
    }

    #tava-service-offer-price .tava-service-specific-offer-sum-right {
        font-weight: bold;
        color: var(--theme-palette-highlight);
    }

    #tava-service-offer-price {
        margin: calc(sass.$space15 + 20px) 0 0 0;
    }
}

.tava-service-specific-content-input-offer,
.tava-service-specific-content-input-order {
    display: flex;
    flex-direction: column;
    border: 2px outset grey;
    border-radius: sass.$space15;
    padding: calc(sass.$space25 / 2) sass.$space25;

    .specific-input input,
    .specific-dropdown select {
        width: 250px;
        padding: sass.$space5 0;
    }

    .specific-checkbox {
        margin-left: sass.$space50;
    }
}

.tava-service-specific-block {
    display: flex;
    flex-direction: column;
    margin-bottom: sass.$space25;
}

.tava-service-specific-content-input-order {
    margin: sass.$space50 0 0 0;
}

.tava-button-wrapper {
    margin: sass.$space50 0;
}

.tava-service-terms {
    display: flex;
    padding: calc(sass.$space25 / 2) sass.$space25;

    span {
        font-style: italic;
        text-align: justify;
        opacity: 0.8;
        line-height: sass.$text-line-height;
        margin-left: sass.$space15;
    }

    .tava-message-invalid {
        color: sass.$color-valid-red;
    }
}

.first-term {
    margin-top: calc(35px - 12.5px);
}

.final-message {
    text-align: center;
    color: var(--theme-body-text);
    font-size: 40px;
    font-weight: bold;
}

.tava-order-submit-invalid button {
    color: grey;
    user-select: none;
    cursor: default;
    pointer-events: none;
    opacity: 0.2;
}

.tava-button-simple {
    text-transform: uppercase;
}
/* SERVICE SPECIFIC STYLING --- SERVICE SPECIFIC STYLING */
