<section class="tava-service" ngClass="{{selectedBg}}">
    <header>
        <h1>
            {{'modules.service.title' | translate}}
        </h1>
    </header>
    <div class="tava-service-content">
        <!-- <div class="tava-service-content-wrapper">
            <div class="tava-button-wrapper">
                <button
                    class="tava-button-submit"
                    [attr.aria-disabled]="true"
                    [routerLink]="'airport'"
                >{{'modules.service.options.airport' | translate}}</button>
            </div>
            <div class="tava-button-wrapper">
                <button
                    class="tava-button-submit"
                    [attr.aria-disabled]="true"
                    [routerLink]="'destination'"
                >{{'modules.service.options.destination' | translate}}</button>
            </div>
            <div class="tava-button-wrapper">
                <button
                    class="tava-button-submit"
                    [attr.aria-disabled]="true"
                    [routerLink]="'flatrate'"
                >{{'modules.service.options.flatrate' | translate}}</button>
            </div>
        </div> -->
        <div class="tava-service-route">
            <img 
                class="tava-link"
                src="assets/service/select-airport.jpg"
                alt="404 image not found"
                [routerLink]="'airport'"
                [attr.aria-disabled]="true"
            >
            <div class="tava-service-route-description">
                <span class="tava-anchor">{{'modules.service.content.airport.option.title' | translate}}</span>
                <span>{{'modules.service.content.airport.option.subtitle' | translate}}</span>
            </div>
        </div>
        <div class="tava-service-route">
            <img 
                class="tava-link"
                src="assets/service/select-destination.jpg"
                alt="404 image not found"
                [routerLink]="'destination'"
                [attr.aria-disabled]="true"
            >
            <div class="tava-service-route-description">
                <span class="tava-anchor">{{'modules.service.content.destination.option.title' | translate}}</span>
                <span>{{'modules.service.content.destination.option.subtitle' | translate}}</span>
            </div>
        </div>
        <div class="tava-service-route">
            <img 
                class="tava-link"
                src="assets/service/select-flatrate.jpg"
                alt="404 image not found"
                [routerLink]="'flatrate'"
                [attr.aria-disabled]="true"
            >
            <div class="tava-service-route-description">
                <span class="tava-anchor">{{'modules.service.content.flatrate.option.title' | translate}}</span>
                <span>{{'modules.service.content.flatrate.option.subtitle' | translate}}</span>
            </div>
        </div>
    </div>
</section>