<div class="tava-address-wrapper" ngClass="{{ngClass}}">
    <div class="tava-address {{className}}">
        <input
            #inputRef
            type="text"
            class="tava-address-input-text"
            id="{{'tava-' + fieldName}}"
            placeholder="{{placeholder}}"
            [formControl]="formControl"
            (keydown)="onInputKeyNav($event)"
            max="{{maxVal}}"
            [readOnly]="isReadonly"
            ngClass="{{formControl.errors && !isFocused ? 'tava-input-padding-error' : 'tava-input-padding-base'}}"
        >
        <i
            class="icon-warning icon-base"
            id="error-icon"
            *ngIf="!isFocused && formControl.invalid && (formControl.dirty || formControl.touched)"
        ></i>
        <div *ngIf="showOptions && options.length > 0" id="google-logo">
            <img src="/assets/UI/google_on_white.png" alt="404 not found">
        </div>
        <div *ngIf="showOptions" class="tava-address-input-options-wrapper">
            <div
                #optionRef
                *ngFor="let option of options; let i = index" 
                class="tava-address-input-options"
                (click)="selectPlace(option.placeId)"
                (keydown)="onOptionKeyNav($event, i)"
                tabindex="-1"
            >
                <span>
                    {{option.descriptionFull}}
                </span>
            </div>
        </div>
    </div>
    <tava-validation
        *ngIf="!isFocused"
        [ngControl]="formControl"
        [fieldName]="fieldName"
    ></tava-validation>
</div>