@use '../../../../../stylesheets/utilities' as sass;


.tava-address-wrapper {
    display: grid;
    
    input {
        width: calc(100% - 12px);
        padding: 8.5px sass.$form-padding-small;
    }
}

input[type="text"] {
    padding: 9.5px sass.$form-padding-small;
}

i {
    position: absolute;
    display: flex;
    justify-self: end;
    // TODO(yqni13): adapt hard coded styling for different device sizes
}

.tava-warning-address-text {
    margin: calc(sass.$space5 / 2) sass.$space5 0 0;
}

.tava-address-input-options {
    $option-border-thickness: 4px;
    display: flex;
    width: calc(100% + ($option-border-thickness) / 2);
    cursor: pointer;
    overflow: hidden;
    background-color: sass.$color-default-white;
    border: solid 1px sass.$color-default-white;
    
    span {
        width: 100%;
        padding: 8.5px 5px;
        border: solid calc($option-border-thickness / 2) sass.$color-text-black;
        border-top: none;
        border-radius: 2px;
        font-size: 13px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: sass.$color-text-black;

        &:hover {
            color: var(--option-hover-active);
            font-weight: bold;

        }
    }
}