@use '../../../stylesheets/utilities' as sass;


* {
    white-space: pre-line;
}

.tava-privacy-content {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    margin-bottom: sass.$space50;

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            margin: sass.$space5 0;
            
            .tava-privacy-content-li-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            
            img {
                width: 30px;
                height: 30px;
                margin-right: sass.$space15;
            }
            
            a {
                cursor: pointer;
            }
        }
    }

    h3 {
        font-size: 1.4em;
        margin-top: sass.$space50;
        margin-block-end: 0;
        margin-bottom: sass.$space15;
        color: var(--theme-palette-highlight);
        /* define distance to top when navigated to by automatic scrolling => navigateToHeader(id)*/
        scroll-margin-top: calc(var(--size-nav-height) + sass.$space50);
    }

    a {
        text-decoration: none;
        color: var(--theme-palette-contrast);

        &:hover {
            opacity: 0.6;
        }
    }

    .tava-privacy-content-p {
        display: flex;
        flex-direction: column;

        span {
            text-align: justify;
            line-height: 26px;
        }

        .tava-privacy-content-break {
            margin-bottom: sass.$space15;
        }
    }

    p {
        text-align: justify;
        line-height: 26px;
    }
}