<nav class="tava-nav-bar">
    <ul>
        <li>
            <img
                [attr.aria-disabled]="true"
                class="tava-nav-logo"
                [ngClass]="deviceMode === deviceOptions.mobile ? 'mobile-size' : 'stationary-size'"
                src="assets/logo.png" 
                alt="logo to navigate home"
                routerLink="home"
            >
        </li>
        <li *ngFor="let route of routes">
            <span
                class="tava-nav-routes"
                [attr.aria-disabled]="true"
                routerLink="{{ route.path }}"
                routerLinkActive="tava-active-route"
            >{{deviceMode === deviceOptions.stationary ? ('common.navigation.' + route.data?.['title'] | translate) : ''}} <i *ngIf="deviceMode === deviceOptions.mobile" class="{{route.data?.['icon']}}"></i></span>
        </li>
    </ul>
</nav> 