@use '../../../../stylesheets/utilities' as sass;


.tava-nav-bar {

    background-color: var(--theme-palette-background);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: var(--size-nav-height);
    border-bottom: sass.$nav-border-size solid var(--theme-palette-highlight);

    .tava-nav-logo {
        cursor: pointer;
        aspect-ratio: 1 / 1;
    }

    .mobile-size {
        width: 40px;
    }

    .stationary-size {
        width: 90px;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-inline: 0;
        margin-block: 0;
        list-style: none;

        
        li {
            text-decoration: none;
            padding: 0 2.5vw;

            span:not(.tava-active-route),
            i:not(.tava-active-route) {
                &:hover {
                    opacity: sass.$link-hover-opacity;
                }
            }

            span {
                font-size: sass.$nav-text-size;
                cursor: pointer;
                color: var(--theme-nav-text);
            }

            i {
                width: 40px;
                aspect-ratio: 1/1;
            }
        }
    }
}
