@use '../../../stylesheets/utilities' as sass;


.tava-samples-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: sass.$space50;
}

td {
    text-align: end;
    padding: sass.$space5 0;
    border-bottom: solid 1px rgba(128, 128, 128, 0.595);
}

.tava-samples-divider-head td {
    border: none;
    padding: sass.$space5 0;
}

.tava-samples-divider td {
    border: none;
    padding: calc(sass.$space5 * 3) 0;
}

.tava-samples-route {
    width: 300px;
    text-wrap: wrap;
}

.tava-samples-colon {
    padding-right: sass.$space5;
    text-align: start;
}

.tava-samples-price {
    padding-left: calc(sass.$space5 * 2);
}


