<!-- TEMPLATES -->
<ng-template #samplesRef let-i="i" let-contentPath="contentPath">
    <td class="tava-samples-route">
        {{contentPath + i + '.route' | translate}}
    </td>
    <td class="tava-samples-colon">:</td>
    <td class="tava-samples-addendum">
        {{'z-content-samples.samples-utility.addendum' | translate}}
    </td>
    <td class="tava-samples-price" >
        {{contentPath + i + '.price' | translate}}
    </td>
    <td class="tava-samples-currency">
        {{'z-content-samples.samples-utility.currency' | translate}}
    </td>
</ng-template>

<!-- CONTENT -->
<section class="tava-samples" ngClass="{{selectedBg}}">
    <header>
        <h1>
            {{'modules.samples.title' | translate}}
        </h1>
    </header>
    <div class="tava-samples-content">
        <div class="tava-samples-table-wrapper">
            <div class="tava-samples-table-header">
                <span>
                    {{'z-content-samples.samples-header.option1' | translate}}
                </span>
            </div>
            <table>
                <tbody *tavaVar="'z-content-samples.samples-content-option1.entry' as contentPath1">
                    <tr *ngFor="let entry of [].constructor(samplesOption1Length); let i = index">
                        <td class="tava-samples-route tava-table-no-addendum">
                            {{contentPath1 + i + '.route' | translate}}
                        </td>
                        <td class="tava-samples-colon">:</td>
                        <td class="tava-samples-price">
                            {{contentPath1 + i + '.price' | translate}}
                        </td>
                        <td class="tava-samples-currency">
                            {{'z-content-samples.samples-utility.currency' | translate}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tava-samples-table-wrapper">
            <div class="tava-samples-table-header">
                <span>
                    {{'z-content-samples.samples-header.option2' | translate}}
                </span>
            </div>
            <table>
                <tbody *tavaVar="'z-content-samples.samples-content-option2.entry' as contentPath2">
                    <tr *ngFor="let entry of [].constructor(samplesOption2Length); let i = index">
                        <ng-container 
                            *ngTemplateOutlet="samplesRef; context: { i: i, contentPath: contentPath2 }"
                        ></ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tava-samples-table-wrapper">
            <div class="tava-samples-table-header">
                <span>
                    {{'z-content-samples.samples-header.option3' | translate}}
                </span>
            </div>
            <table>
                <tbody *tavaVar="'z-content-samples.samples-content-option3.entry' as contentPath3">
                    <tr *ngFor="let entry of [].constructor(samplesOption3Length); let i = index">
                        <ng-container 
                            *ngTemplateOutlet="samplesRef; context: { i: i, contentPath: contentPath3 }"
                        ></ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tava-samples-table-wrapper">
            <div class="tava-samples-table-header">
                <span>
                    {{'z-content-samples.samples-header.option4' | translate}}
                </span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th colspan="5" class="tava-samples-special-header">
                            {{'z-content-samples.samples-utility.header-golf' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody *tavaVar="'z-content-samples.samples-content-option4.entry' as contentPath4">
                    <tr *ngFor="let entry of [].constructor(samplesOption4Length); let i = index">
                        <ng-container 
                            *ngTemplateOutlet="samplesRef; context: { i: i, contentPath: contentPath4 }"
                        ></ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tava-samples-footnote">
        <span>
            {{'z-content-samples.samples-utility.discount-info1' | translate}}
        </span>
    </div>
</section>