@use '../../../stylesheets/utilities' as sass;


$colon-width: 10px;
$addendum-width: 35px;
$price-width: 50px;
$currency-width: 40px;

.tava-samples-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: sass.$space50;
}

.tava-samples-table-wrapper {
    display: flex;
    margin-bottom: sass.$space50;
}

.tava-samples-table-header {
    display: flex;

    span {
        width: 150px;
        text-align: center;
        align-content: center;
        white-space: pre-line;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--theme-main-green);
    }
}

#tava-table-head-route {
    text-align: end;
}

td {
    text-align: end;
    padding: sass.$space5 0;
    border-bottom: solid 1px rgba(128, 128, 128, 0.595);
}

.tava-samples-route {
    width: 290px;
    text-wrap: wrap;
    white-space: pre-line;
}

.tava-samples-colon {
    text-align: start;
    width: $colon-width;
}

.tava-samples-addendum {
    width: $addendum-width;
}

.tava-samples-price {
    padding-left: calc(sass.$space5 * 2);
    width: $price-width;
}

.tava-samples-currency {
    width: $currency-width;
}
