@use '../../../stylesheets/utilities' as sass;


$colon-width: 10px;
$addendum-width: 35px;
$price-divider-width: 20px;
$price-width: 50px;
$currency-width: 40px;

.bg-pattern-dark {
    .tava-samples-table-header span {
        text-shadow: 1px 1px 1px sass.$color-text-black;
    }
}

.bg-pattern-light {
    .tava-samples-table-header span {
        text-shadow: 1px 1px 1px sass.$color-ice-white;
    }
}

.tava-samples-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: sass.$space50;
}

.tava-samples-table-wrapper {
    display: flex;
    margin-bottom: sass.$space50;
    border-radius: sass.$space15;
    border: 2px outset grey;
}

.tava-samples-table-header {
    display: flex;

    span {
        width: 150px;
        text-align: center;
        align-content: center;
        white-space: pre-line;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px sass.$color-text-black;
        color: var(--theme-palette-contrast);
    }
}

#tava-table-head-route {
    text-align: end;
}

th.tava-samples-special-header {
    text-shadow: 1px 1px 1px sass.$color-text-black;
    opacity: 0.8;
    font-style: italic;
    font-weight: normal;
    white-space: pre-line;
    color: var(--theme-palette-highlight);
}

.tava-samples-special-header {
    line-height: sass.$text-line-height;
    text-shadow: 1px 1px 2px var(--warning-shadow);
}

.tava-samples-golf-table-header {
    text-shadow: 1px 1px 2px var(--warning-shadow);
    color: var(--theme-palette-contrast);
}

.tava-samples-header-bottom-close {
    padding-bottom: 2.5px!important;
}

td {
    text-align: end;
    padding: sass.$space5 0;
    border-bottom: solid 1px rgba(128, 128, 128, 0.595);
}

.tava-samples-route {
    width: 290px;
    text-wrap: wrap;
    white-space: pre-line;
}

.tava-table-no-addendum {
    width: 100%;
}

.tava-samples-colon {
    text-align: start;
    width: $colon-width;
}

.tava-samples-addendum {
    width: $addendum-width;
}

.tava-samples-price {
    padding-left: calc(sass.$space5 * 2);
    width: $price-width;
    white-space: nowrap;
}

.tava-samples-currency {
    width: $currency-width;
}

.tava-samples-price-divider {
    width: $price-divider-width;
}

.samples-orientation-center {
    text-align: center;
    padding: 0px 5px;
}

.tava-samples-footnote {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: sass.$space5;
    
    span {
        font-size: clamp(8px, 2vw, 14px);
        margin: 4px 0;
        white-space: pre-line;
    }
}