<div class="tava-select-wrapper {{className}}" ngClass="{{ngClass}}">
    <select 
        [formControl]="formControl"
        id="{{'tava-' + fieldName}}"
        (change)="selectOption($event)"
    >
        <option value="" disabled>{{placeholder}}</option>
        <hr>
        <option 
            *ngFor="let option of options | keyvalue" 
            value="{{option.value}}"
        >{{optionsTranslateRoot + option.key | translate}}</option>
    </select>
    <i
        class="icon-warning icon-base"
        *ngIf="!isFocused && formControl.invalid && (formControl.dirty || formControl.touched)"
    ></i>
    <tava-validation
        *ngIf="!isFocused"
        [ngControl]="formControl"
        [fieldName]="fieldName"
    ></tava-validation>
</div>