@use '../../../../../stylesheets/utilities' as sass;


$select-left-padding: calc(sass.$form-padding-small - sass.$select-balance-padding);

.tava-select-wrapper {
    // use ngStyle for width to style lvl above => <tava-selectinput>
    display: grid;
    margin-right: -1px; // to adapt calculating width as last-right form element
    
    select {
        width: 100%;
        padding: 9.5px 0 9.5px $select-left-padding;
        border-radius: calc(sass.$space5 + 1px);

        option {
            font-size: sass.$input-text-size;
            text-overflow: ellipsis;
        }
    }
}

i {
    position: absolute;
    display: flex;
    justify-self: end;
    margin: calc(sass.$space5 / 2) sass.$space15 0 0;
}