@use '../../../../../stylesheets/utilities' as sass;
@use '../abstract-input.component.scss' as abstract;


.tava-select {
    // use ngStyle for width to style lvl above => <tava-selectinput>
    display: grid;
    margin-right: -1px; // to adapt calculating width as last-right form element
    position: relative;
    select {
        border-radius: calc(sass.$space5 + 1px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-width: 2px;
        border-style: inset;

        option {
            font-size: sass.$input-text-size;
            text-overflow: ellipsis;
        }
    }
}

// Adapt position due to fixed arrow (dropdown) icon.
#error-icon {
    margin-right: 15px;
}
.tava-input-padding-error {
    width: auto;
    padding: 0 calc(30px + 15px) 0 sass.$form-padding-small;
    height: abstract.$target-height;
}
.tava-input-padding-base {
    width: auto;
    padding: 0 0 0 sass.$form-padding-small;
    height: abstract.$target-height;
}