@use '../../../stylesheets/utilities' as sass;


header {
    position: relative;
}

section {
    height: auto;
}

.tava-home-video-wrapper {
    position: relative;
    width: 100vw;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: start;
    justify-content: center;

    video {
        filter: grayscale(0.8) brightness(var(--filter-brightness)) blur(1px);
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}


.tava-home-content {
    display: flex;
    width: 100vw;
    height: 100%;
    position: relative;
    
    .tava-home-img-wrapper {
        position: relative;
        margin-bottom: sass.$space50;

        img {
            aspect-ratio: 1 / 1;
            border: solid 3px var(--theme-main-green);
            border-radius:50%;
        }
    }

    .tava-home-content-wrapper {        
        height: auto;
        margin-bottom: sass.$space50;
        display: flex;
        justify-content: center;
        
        ul {
            border-radius: 40px;
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-inline: 0;
            text-align: start;

            li {
                text-wrap: wrap;
                display: flex;
                margin: sass.$space25 0; 

                .tava-home-content-li-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    i {
                        margin-right: sass.$space15;
                        min-width: 30px;
                        min-height: 30px;
                    }
                }
                
                span {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}