<ng-container *tavaVar="ngControl as control">
    <div class="tava-validation-errors" *ngIf="control.invalid && (control.dirty || control.touched)">
        <div class="tava-validation-message" *ngIf="control.hasError('required')">
            {{ 'validation.frontend.form.required' | translate: {fieldName: fieldName} }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('email')">
            {{ 'validation.frontend.form.email-invalid' | translate: {fieldName: fieldName} }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidZeroTenancy')">
            {{ 'validation.frontend.form.tenancy-invalid-zero' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('requiredTenancy')">
            {{ 'validation.frontend.form.required' | translate: {fieldName: fieldName} }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('missingZipcode')">
            {{ 'validation.frontend.form.missing-zipcode' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidPhoneChar')">
            {{ 'validation.frontend.form.invalid-phone-char' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidTenancyUpperLimit')">
            {{ 'validation.frontend.form.tenancy-invalid-upper-limit' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidStayUpperLimit')">
            {{ 'validation.frontend.form.stay-invalid-upper-limit' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('maxLatency')">
            {{ 'validation.frontend.form.latency-invalid-upper-limit' | translate }}
        </div>
        <!-- <div class="tava-validation-message" *ngIf="control.hasError('invalidBusinessHours')">
            {{ 'validation.frontend.form.business-invalid-time' | translate }}
        </div> -->
        <div class="tava-validation-message" *ngIf="control.hasError('invalidBusinessHours12')">
            {{ 'validation.frontend.form.business-invalid-time12' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidBusinessHours17')">
            {{ 'validation.frontend.form.business-invalid-time17' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidBusinessReturn')">
            {{ 'validation.frontend.form.business-invalid-return' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidBHTimeOnly')">
            {{ 'validation.frontend.form.business-invalid-time-only' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('negativeCurrentDateTime')">
            {{ 'validation.frontend.form.datetime-invalid-negative' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('negativeFixedDateTime')">
            {{ 'validation.frontend.form.datetime-end-invalid-negative' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('emptyAddressSelect')">
            {{ 'validation.frontend.form.empty-address-select' | translate }}
        </div>
        <div class="tava-validation-message" *ngIf="control.hasError('invalidQuickOrigin')">
            {{ 'validation.backend.data.address-quick-invalid-origin' | translate }}
        </div>
    </div>
</ng-container>