@use 'stylesheets/utilities' as sass;

@import 'stylesheets/backgrounds.scss';
@import 'stylesheets/defines.scss';
@import 'stylesheets/icons.scss';
@import 'stylesheets/media.scss';


html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: context-menu;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    font-family: sass.$font-text-family;
}

body {
    color: var(--theme-body-text);
    width: 100vw;
    height: 100%;
    margin: var(--size-nav-height) 0 0 0;
    padding: 0;
}

section {
    margin-top: var(--size-nav-height);
    min-height: calc(100vh - var(--size-nav-height) - var(--size-footer-height));
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-palette-background);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

h1 {
    color: var(--theme-palette-highlight);
    font-size: clamp(25px, 4vw, 55px);
    font-weight: normal;
    margin: sass.$space50 0;
    text-align: center;
}

h2 {
    color: var(--theme-palette-highlight);
    font-size: clamp(22px, 3.2vw, 44px);
    font-weight: normal;
    margin: sass.$space50 0;
    text-align: center;
}

.tava-active-route {
    color: var(--theme-palette-highlight)!important;
    font-weight: bold;

    &:hover::after,
    &:after {
        transform: none!important;
        width: 0%!important;
    }
}

.tava-anchor {
    font-weight: bold;
    color: var(--theme-palette-highlight);
}

.tava-link {
    cursor: pointer;
    font-weight: bold;
    color: var(--theme-palette-highlight);
    &:hover {
        opacity: 0.4;
    }
}

.tava-visible {
    visibility: visible;
}

.tava-hidden {
    visibility: hidden;
}

.tava-divider {
    border: 1px inset sass.$color-ice-white;
    opacity: var(--divider-opacity);
    width: 300px;
    margin: calc(sass.$space5 * 3) 0;
}

.tava-button-submit {    
    background-color: sass.$color-ice-white;
    background-image: none;
    border: 1px solid sass.$color-grey-light;
    border-radius: 10px;
    box-shadow: sass.$color-grey-light 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: var(--theme-palette-highlight);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 8px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;

    &:focus {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
        color: var(--theme-palette-highlight);
    }

    &:active {
        box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
        outline: 0;
    }

    &:not([disabled]):active {
        box-shadow: sass.$color-grey-light 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
    }
}

.tava-loading-animation {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);

    $offset: 187;
    $duration: 1.4s;

    .spinner {
        animation: rotator $duration linear infinite;
        width: 65px;
        height: 65px;
    }

    @keyframes rotator {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(270deg); }
    }

    .path {
        stroke-dasharray: $offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation:
            dash $duration ease-in-out infinite, 
            colors calc($duration * 4) ease-in-out infinite;
    }

    @keyframes colors {
        0% { stroke: #4285F4; }
        25% { stroke: #DE3E35; }
        50% { stroke: #F7C223; }
        75% { stroke: #1B9A59; }
        100% { stroke: #4285F4; }
    }

    @keyframes dash {
        0% { stroke-dashoffset: $offset; }
        50% {
            stroke-dashoffset: calc($offset / 4);
            transform:rotate(135deg);
        }
        100% {
            stroke-dashoffset: $offset;
            transform:rotate(450deg);
        }
    }
}