@use 'stylesheets/utilities' as sass;

@import 'stylesheets/defines.scss';
@import 'stylesheets/icons.scss';
@import 'stylesheets/backgrounds.scss';


html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: context-menu;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body {
    color: var(--theme-body-text);
    width: 100vw;
    height: 100%;
    margin: var(--size-nav-height) 0 0 0;
    padding: 0;
}

section {
    margin-top: var(--size-nav-height);
    min-height: calc(100vh - var(--size-nav-height));
    width: 100vw;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

h1 {
    color: var(--theme-main-green);
    font-size: clamp(25px, 4vw, 55px);
    font-weight: normal;
    margin: sass.$space50 0;
    text-align: center;
}

.tava-active-route {
    color: var(--theme-main-green)!important;
    font-weight: bold;

    &:hover::after,
    &:after {
        transform: none!important;
        width: 0%!important;
    }
}

.tava-anchor {
    cursor: pointer;
    font-weight: bold;
    color: var(--theme-contrast-anchor);
}

.tava-visible {
    visibility: visible;
}

.tava-hidden {
    visibility: hidden;
}
