<footer>
    <div class="tava-footer-credits">
        <h3>Ing. Laszlo Varga</h3>
        <div class="tava-copyright-wrapper">
            <i class="icon-copyright icon-base"></i>
            <a class="tava-link" href="{{creatorURL}}" target="_blank">yqni13</a>
            <span>, {{currentYear}}. {{'common.footer.content.copyright' | translate}}</span>
        </div>
    </div>
    <div class="tava-footer-links">
        <div class="tava-footer-links-wrapper">
            <ul>
                <li *ngFor="let route of routes">
                    <span
                        [attr.aria-disabled]="true"
                        routerLink="{{route.path}}"
                        routerLinkActive="tava-active-route"
                    >{{'common.footer.title.' + route.data?.['title'] | translate}}</span>
                </li>
                <li class="tava-li-divider">
                    <div class="tava-divider"></div>
                </li>
                <li>
                    <span
                        [attr.aria-disabled]="true"
                        [ngClass]="selectedTheme"
                        (click)="setTheme()"
                        (keydown.enter)="setTheme()"
                        #themeMode
                    >{{'shared.enum.theme.' + selectedTheme | translate}}
                    <i class="{{selectedTheme === themes.darkMode ? 'icon-darkMode' : 'icon-lightMode'}}" #themeIcon></i>
                    </span>
                </li>
                <li class="tava-footer-language tava-language-element">
                    <div class="tava-footer-language-select tava-language-element">
                        <span
                            class="tava-language-element"
                            [attr.aria-disabled]="true"
                            (click)="openLanguageWindow()"
                            (keydown.enter)="openLanguageWindow()"
                        >{{'shared.enum.language.' + selectedLanguage | translate}}</span>
                        <i class="icon-language icon-base tava-language-element"></i>
                    </div>
                    <div *ngIf="showLanguageWindow" class="tava-footer-language-list tava-language-element">
                        <span 
                            class="tava-language-option-select tava-language-element"
                        >{{'common.footer.content.language' | translate}}</span>
                        <span
                            *ngFor="let option of languages | keyvalue"
                            class="tava-language-options"
                            [attr.aria-disabled]="true"
                            (click)="setLanguage(option.value)"
                            (keydown.enter)="setLanguage(option.value)"
                        >{{'shared.enum.language.' + option.value | translate}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>