@use '../../../../stylesheets/utilities' as sass;


.tava-carousel-wrapper {
    width: 100%;
    min-height: 350px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.tava-carousel-slides {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.tava-carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.tava-carousel-default-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

$img-width: 80vw;

.tava-carousel-default-img {
    display: flex;
    justify-content: center;
    
    img {
        object-fit: cover;
        width: $img-width;
        max-width: 700px;
        aspect-ratio: 16 / 10;
        padding: 3px;
        border: 2px solid var(--theme-palette-highlight);
    }
}

.tava-carousel-arrow-wrapper {
    width: 100%;
    display: flex;
    height: sass.$carousel-arrow-size;
    justify-content: center;
    margin: sass.$space15 0;

    #tava-carousel-arrow-left {
        margin-right: calc(sass.$space15 - sass.$space5);
    }
    
    #tava-carousel-arrow-left {
        margin-left: calc(sass.$space15 - sass.$space5);
    }
}


.icon-Arrow {
    cursor: pointer;
    height: sass.$carousel-arrow-size;
    width: sass.$carousel-arrow-size;
    padding: 0 2.5px;
    opacity: 0.25;

    &:hover {
        opacity: 1;
    }
}

.tava-arrow-left {
    transform: rotate(-90deg);
}

.tava-arrow-right {
    transform: rotate(90deg);
}