<div class="tava-carousel-wrapper">
    <div class="tava-carousel-slides" [style.transform]="getTransform()">
        <div class="tava-carousel-slide" *ngFor="let slide of slides">            
            <ng-container *ngIf="slideTemplate; else defaultTemplate">
                <ng-container *ngTemplateOutlet="slideTemplate; context: { $implicit: slide }"></ng-container>
            </ng-container>
            <ng-template #defaultTemplate>
                <div class="tava-carousel-default-wrapper">
                    <div class="tava-carousel-default-img">
                        <img
                            src="{{slide}}" 
                            alt="404-picture-not-found"
                            [attr.aria-disabled]="true"
                        >
                    </div>
                    <!-- <div class="tava-carousel-default-text-wrapper">
                        <div class="tava-carousel-default-text-header">
                            <h3 *ngIf="slide.title">{{ 'archive-content.' + slide.referenceNr + '.title' | translate }}</h3>
                            <span>{{slide.date | dateFormat:'dd.mm.yyyy'}}</span>
                        </div>
                        <div class="tava-carousel-default-text-content">
                            <p *ngIf="slide.text">{{ 'archive-content.' + slide.referenceNr + '.text' | translate }}</p>
                        </div>
                    </div> -->
                </div>
            </ng-template>
        </div>
    </div>
    <i 
        [attr.aria-disabled]="true"
        class="icon-Arrow tava-arrow-left"
        (click)="prev()"
        (keydown.enter)="prev()"
    ></i>
    <i 
        [attr.aria-disabled]="true"
        class="icon-Arrow tava-arrow-right"
        (click)="next()"
        (keydown.enter)="next()"
    ></i>
</div>